<% if stage.production? && ENV['CANIDEPLOY_ENABLED'] %>
  <div class="form-group">
    <div class="alert col-lg-5 col-lg-offset-2">
      <p>Potential Deploy Blockers:</p>
      <% Canideploy.instance.checklist.each do |item| %>
        <ul>
          <li><%= item %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

